node_modules
package-lock.json

testdata/*
!testdata/master
!testdata/navigation
!testdata/inventory
!testdata/priceBook

testdata/master/*
!testdata/master/master1.xml
!testdata/master/master2.xml

testdata/navigation/*
!testdata/navigation/navigation1.xml
!testdata/navigation/navigation2.xml

testdata/inventory/*
!testdata/inventory/inventory1.xml
!testdata/inventory/inventory2.xml

testdata/priceBook/*
!testdata/priceBook/priceBook1.xml
!testdata/priceBook/priceBook2.xml
